@model BookingDiplomaApp.Models.ViewModels.CreateApartmentVM

@{
    ViewData["Title"] = "Create";
}

<h1>Створити</h1>

<h4>Кімната</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Apartment.Title" class="control-label"></label>
                <input asp-for="Apartment.Title" class="form-control" />
                <span asp-validation-for="Apartment.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Apartment.Description" class="control-label"></label>
                <input asp-for="Apartment.Description" class="form-control" />
                <span asp-validation-for="Apartment.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Apartment.Price" class="control-label"></label>
                <input asp-for="Apartment.Price" class="form-control" />
                <span asp-validation-for="Apartment.Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Apartment.CityId" class="control-label"></label>
               @*  <label for="CityId" class="control-label">Місто</label> *@
                <select asp-for="Apartment.CityId" class="form-select" asp-items="Model.Cities"></select>
            </div>
            <div class="mb-3">
                <label asp-for="Apartment.CategoryId" class="control-label"></label>
                <select asp-for="Apartment.CategoryId" class="form-control" asp-items="Model.Categories"></select>
            </div>
            <div class="mb-3">
                <label asp-for="Apartment.Address" class="control-label"></label>
                <input asp-for="Apartment.Address" class="form-control" />
                <span asp-validation-for="Apartment.Address" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Apartment.Places" class="control-label"></label>
                <input asp-for="Apartment.Places" class="form-control" />
                <span asp-validation-for="Apartment.Places" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Apartment.Square" class="control-label"></label>
                <input asp-for="Apartment.Square" class="form-control" />
                <span asp-validation-for="Apartment.Square" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Apartment.RoomsCount" class="control-label"></label>
                <input asp-for="Apartment.RoomsCount" class="form-control" />
                <span asp-validation-for="Apartment.RoomsCount" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Apartment.DistanceFromCenter" class="control-label"></label>
                <input asp-for="Apartment.DistanceFromCenter" class="form-control" />
                <span asp-validation-for="Apartment.DistanceFromCenter" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
